### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### IntelliJ IDEA ###
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea_modules/
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/**/azureSettings.xml
.idea/**/springBoot.xml

### Java ###
/hp_backend/hot_potato/target/
/hp_backend/hot_potato/pom.xml.tag
/hp_backend/hot_potato/pom.xml.releaseBackup
/hp_backend/hot_potato/pom.xml.versionsBackup
/hp_backend/hot_potato/pom.xml.next
/hp_backend/hot_potato/release.properties
/hp_backend/hot_potato/dependency-reduced-pom.xml
/hp_backend/hot_potato/buildNumber.properties
/hp_backend/hot_potato/.mvn/timing.properties
/hp_backend/hot_potato/.mvn/wrapper/maven-wrapper.jar
/hp_backend/hot_potato/.project
/hp_backend/hot_potato/.classpath
/hp_backend/hot_potato/hs_err_pid*
/hp_backend/hot_potato/replay_pid*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Maven ###
/hp_backend/hot_potato/target/
/hp_backend/hot_potato/.mvn/
/hp_backend/hot_potato/target/

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
/hp_backend/hot_potato/build/
/hp_backend/hot_potato/nbbuild/
/hp_backend/hot_potato/dist/
/hp_backend/hot_potato/nbdist/
/hp_backend/hot_potato/.nb-gradle/

### ReactNative ###
/hp_frontend/hot_potato/.expo
/hp_frontend/hot_potato/__generated__
/hp_frontend/hot_potato/logs
/hp_frontend/hot_potato/npm-debug.log*
/hp_frontend/hot_potato/yarn-debug.log*
/hp_frontend/hot_potato/yarn-error.log*
/hp_frontend/hot_potato/lerna-debug.log*
/hp_frontend/hot_potato/.pnpm-debug.log*
/hp_frontend/hot_potato/pids
/hp_frontend/hot_potato/*.pid
/hp_frontend/hot_potato/*.seed
/hp_frontend/hot_potato/*.pid.lock
/hp_frontend/hot_potato/lib-cov
/hp_frontend/hot_potato/coverage
/hp_frontend/hot_potato/*.lcov
/hp_frontend/hot_potato/.nyc_output
/hp_frontend/hot_potato/.grunt
/hp_frontend/hot_potato/bower_components
/hp_frontend/hot_potato/.lock-wscript
/hp_frontend/hot_potato/build/Release
/hp_frontend/hot_potato/node_modules/
/hp_frontend/hot_potato/jspm_packages/
/hp_frontend/hot_potato/web_modules/
/hp_frontend/hot_potato/*.tsbuildinfo
/hp_frontend/hot_potato/.npm
/hp_frontend/hot_potato/.eslintcache
/hp_frontend/hot_potato/.stylelintcache
/hp_frontend/hot_potato/.rpt2_cache/
/hp_frontend/hot_potato/.rts2_cache_cjs/
/hp_frontend/hot_potato/.rts2_cache_es/
/hp_frontend/hot_potato/.rts2_cache_umd/
/hp_frontend/hot_potato/.node_repl_history
/hp_frontend/hot_potato/*.tgz
/hp_frontend/hot_potato/.yarn-integrity
/hp_frontend/hot_potato/.env*
/hp_frontend/hot_potato/.cache
/hp_frontend/hot_potato/.parcel-cache
/hp_frontend/hot_potato/.next
/hp_frontend/hot_potato/out
/hp_frontend/hot_potato/.nuxt
/hp_frontend/hot_potato/dist
/hp_frontend/hot_potato/.vuepress/dist
/hp_frontend/hot_potato/.temp
/hp_frontend/hot_potato/.docusaurus
/hp_frontend/hot_potato/.serverless/
/hp_frontend/hot_potato/.fusebox/
/hp_frontend/hot_potato/.dynamodb/
/hp_frontend/hot_potato/.tern-port
/hp_frontend/hot_potato/.vscode-test
/hp_frontend/hot_potato/.yarn/cache
/hp_frontend/hot_potato/.yarn/unplugged
/hp_frontend/hot_potato/.yarn/build-state.yml
/hp_frontend/hot_potato/.yarn/install-state.gz
/hp_frontend/hot_potato/.pnp.*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### Gradle ###
/hp_backend/hot_potato/.gradle/
/hp_backend/hot_potato/build/
/hp_frontend/hot_potato/.gradle/
/hp_frontend/hot_potato/build/
/hp_backend/hot_potato/.gradletasknamecache
/hp_frontend/hot_potato/.gradletasknamecache
