/* 섹션 헤더 스타일 - 테이블 상단 제목 영역 */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

}

.section-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-title {
  font-size: 17px;
  font-weight: bold;
  color: var(--text-dark);
  margin-left: 30px;
  margin-top: 2px;
}

.view-all-button {
  font-size: 14px;
  color: var(--text-medium);
  cursor: pointer;
  margin-right: 20px;
  padding: 10px 0;
  align-self: center;
}

.section-header .submenu-item:hover {
  background-color: transparent;
}

.section-header .view-all-button:hover {
  color: white;
  background-color: transparent;
}

/* ===== 문서함 테이블 영역 ===== */
/* 문서관리 - 문서함 테두리 스타일 */
.document-container {
  border: 1px solid var(--border-color);
  margin-top: 40px;
  margin-bottom: 1px;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

  /* 문서함 - 문서함 테두리 스타일 */
  .docbox-container {
      border: 1px solid var(--border-color);
      margin-top: 10px;
      margin-bottom: 1px;
      border-radius: var(--border-radius-lg);
      overflow: hidden;
    }

.table-container {
  overflow: hidden;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

/* 테이블 헤더 스타일 */
.table-header {
  display: flex;
  padding: 20px 0;
  background-color: var(--table-header-bg);
  border-bottom: 1px solid var(--border-light);
}

.table-header-cell {
  font-size: 15px;
  font-weight: 500;
  color: #232323;
}

/* 테이블 헤더에 체크박스 셀 추가 */
.table-header-cell.checkbox-cell {
  text-align: center;
}
/* 테이블 행 스타일 */
.table-row {
  display: flex;
  border-bottom: 1px solid var(--border-lighter);
  padding: 18px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.table-row:hover {
  background-color: #f9f9f9;
}

.table-row:last-child {
  border-bottom: none;
}

.table-cell {
  font-size: 15px;
  color: var(--text-medium);
}

/* 테이블 셀 너비 설정 */
.doc-number-cell {
  width: 15%;
  padding: 0 16px;
  padding-left: 30px;
  font-size: 13px;
}

.title-cell {
  width: 25%;
  padding: 0 8px;
  padding-left: 20px;
}

.author-cell {
  width: 15%;
  padding: 0 8px;
  padding-left: 20px;
}

.date-cell {
  width: 15%;
  padding: 0 8px;
}

.status-cell {
  width: 15%;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.title-bold {
  font-weight: 500;
  color: var(--text-dark);
}

/* 상태 뱃지 스타일 */
.status-badge {
  min-width: 50px;
  padding: 5px 3px;
  border-radius: 30px;
  background-color: #5a6578;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.status-text {
  font-size: 11px;
  color: white;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}

.status-badge.progress, .status-badge.진행중 {
  background-color: #5a6578;
}

.status-badge.complete, .status-badge.완료 {
  background-color: #4CAF50;
}

.status-badge.rejected, .status-badge.반려 {
  background-color: #F44336;
}

.status-badge.temp, .status-badge.임시저장 {
  background-color: #9E9E9E;
}
