.help-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.help-modal-content {
    background: white;
    padding: 40px;
    border-radius: 8px;
    width: 570px;
    max-width: 90%;
    color: var(--text-dark);
    position: relative;
}

.help-modal-content h2 {
    margin-top: 0;
    text-align: center;
    color: var(--text-dark);
}

.help-modal-content button {
    margin-top: 20px;
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}
