#Calendar {
  display: flex;
  height: calc(100vh - 60px); /* Adjust based on header height */
  background-color: #fff;
}

.calendar-main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
}

.event-input,
.event-textarea {
  padding: 10px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
  font-size: 16px;
}

.event-button {
  padding: 10px 15px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: 16px;
}

.event-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.calendar-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-event-button {
    background: none;
    border: none;
    color: var(--primary);
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
}

.add-event-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
