.google-service-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: var(--background);
}

.google-service-webview {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #f8f8f7;
}
