#Calendar {
  display: flex;
  height: calc(100vh - 60px); /* Adjust based on header height */
  background-color: #fff;
}

.calendar-main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}